<div class="articles">
  <div class="container">
    <div class="articles-title">Блог</div>

    <div class="articles-head">

      <div class="articles-applied-filters">
        <div class="articles-applied-filter" *ngFor="let appliedFilter of appliedFilters">
          <span>{{appliedFilter.name}}</span>
          <a (click)="removeAppliedFilter(appliedFilter)">
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="0.935531" y1="1.15002" x2="12.9563" y2="13.1708" stroke="#709FDC" stroke-linecap="round"/>
              <line x1="12.9236" y1="1.12984" x2="0.902784" y2="13.1507" stroke="#709FDC" stroke-linecap="round"/>
            </svg>
          </a>
        </div>
      </div>

      <div class="articles-sorting" [class.open]="open" (click)="toggle()">
        <div class="articles-sorting-head">
          <span>Фильтр</span>
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10 14.5C9.41668 14.5 8.83335 14.275 8.39168 13.8334L2.95835 8.40003C2.71668 8.15837 2.71668 7.75837 2.95835 7.5167C3.20002 7.27503 3.60002 7.27503 3.84168 7.5167L9.27502 12.95C9.67502 13.35 10.325 13.35 10.725 12.95L16.1583 7.5167C16.4 7.27503 16.8 7.27503 17.0417 7.5167C17.2833 7.75837 17.2833 8.15837 17.0417 8.40003L11.6083 13.8334C11.1667 14.275 10.5833 14.5 10 14.5Z"
              fill="#071739"/>
          </svg>
        </div>
        <div class="articles-sorting-body">
          <div class="articles-sorting-item" [class.active]="activeParams.categories.includes(category.url)"
               (click)="updateFilterParam(category.url)"
               *ngFor="let category of categories">{{category.name}}
            <ng-container *ngIf="activeParams.categories.includes(category.url) else notActive">
              <svg width="7" height="3" viewBox="0 0 7 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.44 2.24H6.728V0.752H0.44V2.24Z" fill="#071739"/>
              </svg>
            </ng-container>
            <ng-template #notActive>
              <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.12 4.904H6.656V0.511999H5.144V4.904H0.68V6.32H5.144V10.688H6.656V6.32H11.12V4.904Z"
                      fill="#BEBEBE"/>
              </svg>
            </ng-template>
          </div>
        </div>

      </div>
    </div>

    <div class="articles-blog">
      <app-blog-card [article]="article" *ngFor="let article of articles"></app-blog-card>
    </div>

    <div class="pagination" *ngIf="pages.length > 1">
      <div class="pagination-arrow" (click)="openPrevPage()"
           [class.disabled]="activeParams.page ? activeParams.page === 1 : true">

        <svg fill="#000000" height="38px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 477.175 477.175" xml:space="preserve">
          <g>
            <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
              c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"/>
          </g>
        </svg>

      </div>
      <div class="pagination-pages">
        <a class="pagination-page" (click)="openPage(page)"
           [class.active]="activeParams.page ? activeParams.page === page : (page === 1)"
           *ngFor="let page of pages">{{page}}</a>
      </div>
      <div class="pagination-arrow" (click)="openNextPage()"
           [class.disabled]="activeParams.page ? activeParams.page === pages.length : false">

        <svg fill="#000000" height="38px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 477.175 477.175" xml:space="preserve">
          <g>
            <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
		         c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"/>
          </g>
        </svg>

      </div>
    </div>

  </div>
</div>
