@import "../../../../assets/styles/auth-form";

.login {
  padding-top: 106px;
  padding-bottom: 92px;

  .container {
    display: flex;
    justify-content: center;

    .page-image {
      margin-left: 185px;
    }
  }
}

