html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #1E1A2B;
}

h1 {
  color: $light-blue-text-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h3 {
  color: $light-blue-text-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

p {
  color: $dark-blue-text-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

b {
  color: $dark-blue-text-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

i {
  color: $dark-blue-text-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 130%;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  width: 422px;
  box-sizing: border-box;
  padding: 20px 20px;
  border: 2px solid #709FDC;
  border-radius: 3px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1E1A2B;
  outline: none;

  &::placeholder {
    color: #A8ABA7;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

.button {
  text-align: center;
  padding: 15px;
  background: #709FDC;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }

  &:hover {
    background-color: #2d50a7;
  }
}

.mat-mdc-menu-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
  position: absolute;
  bottom: 8px;
  left: 50%;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #FFFFFF;
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}

.invalid-feedback {
  color: red;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 422px;
}

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: $light-blue-text-color;
  color: #FFFFFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -8%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $light-blue-text-color transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

